<div class="header">
    <h2 mat-dialog-title>
        <strong>{{action}}</strong> data
    </h2>
    <button mat-icon-button [mat-dialog-close]="false">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div mat-dialog-content>
    <ng-container *ngIf="action != 'Delete'; else elseTemplate">

        <h3 class="text-center">Update <strong>{{local_data.owner | titlecase}}</strong> real property</h3>
        <div class="row border border-secondary p-3">
            <div class="col-6">
                <app-text-input [(ngModel)]="local_data.tdNo" [label]="'TD No.'" required></app-text-input>
                <app-text-input [(ngModel)]="local_data.owner" [label]="'Owner'" required></app-text-input>
                <app-text-input [(ngModel)]="local_data.address" [label]="'Address'" required></app-text-input>
            </div>
            <div class="col-6">
                <app-text-input [(ngModel)]="local_data.propertyIndentificationNo" [label]="'Property Identification No.'" required></app-text-input>
                <app-text-input [(ngModel)]="local_data.arpNo" [label]="'ARP No.'"></app-text-input>
                <app-text-input [(ngModel)]="local_data.tinNo" [label]="'TIN No.'"></app-text-input>
                <app-text-input [(ngModel)]="local_data.telephoneNo" [label]="'Telephone No.'"></app-text-input>
            </div>
            <hr/>
            <div class="row">
                <div class="col-3 h6">
                    Location of Property:
                </div>
                <div class="col-3">
                    <app-text-input [(ngModel)]="local_data.street" [label]="'Number and Street'"></app-text-input>
                </div>
                <div class="col-2">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Barangay/District</mat-label>
                        <mat-select [(ngModel)]="local_data.barangay">
                          <mat-option *ngFor="let barangay of barangays" [value]="barangay.name">{{barangay.name | titlecase}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <app-text-input [(ngModel)]="local_data.municipality" [label]="'Municipality/City'" required></app-text-input>
                </div>
                <div class="col-2">
                    <app-text-input [(ngModel)]="local_data.province" [label]="'Province'" required></app-text-input>
                </div>
            </div>
        </div>

        <div class="row border border-secondary p-3 my-3">
            <div class="col-6">
                <app-text-input [(ngModel)]="local_data.octTctCloaNo" [label]="'OCT/TCT/CLOA No.'"></app-text-input>
                <app-text-input [(ngModel)]="local_data.octNo" [label]="'OCT No.'"></app-text-input>
                <app-text-input [(ngModel)]="local_data.dated" [label]="'Dated'"></app-text-input>
            </div>
            <div class="col-6">
                <app-text-input [(ngModel)]="local_data.surveyLotNo" [label]="'Survey Lot No.'" required></app-text-input>
                <app-text-input [(ngModel)]="local_data.assessorLotNo" [label]="'Assessor\'s Lot No.'"></app-text-input>
                <app-text-input [(ngModel)]="local_data.blkNo" [label]="'Blk No.'"></app-text-input>
            </div>
        </div>

        <div class="row border border-secondary p-3 my-3">
            <p class="m-0"><strong>Boundaries</strong></p>
            <div class="col-6">
                <app-text-input [(ngModel)]="local_data.boundary.north" [label]="'North'"></app-text-input>
                <app-text-input [(ngModel)]="local_data.boundary.east" [label]="'East'"></app-text-input>
            </div>
            <div class="col-6">
                <app-text-input [(ngModel)]="local_data.boundary.south" [label]="'South'"></app-text-input>
                <app-text-input [(ngModel)]="local_data.boundary.west" [label]="'West'"></app-text-input>
            </div>
        </div>

        <div class="row border border-secondary p-3 my-3">
            <ng-container>
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Kind of Property Assessed</mat-label>
                    <mat-select [(ngModel)]="local_data.kindOfPropertyAssessed">
                      <mat-option value="land">Land</mat-option>
                      <mat-option value="building">Building</mat-option>
                      <mat-option value="machinery">Machinery</mat-option>
                      <mat-option value="others">Others</mat-option>
                    </mat-select>
                </mat-form-field>
            </ng-container>

            <ng-container *ngIf="local_data.kindOfPropertyAssessed === 'building'">
                <app-text-input [(ngModel)]="local_data.noOfStoreys" [label]="'No. of Storeys'"></app-text-input>
                <app-text-input [(ngModel)]="local_data.briefDescription" [label]="'Brief Description'"></app-text-input>
            </ng-container>
    
            <ng-container *ngIf="local_data.kindOfPropertyAssessed === 'machinery'">
                <app-text-input [(ngModel)]="local_data.briefDescription" [label]="'Brief Description'"></app-text-input>
            </ng-container>
    
            <ng-container *ngIf="local_data.kindOfPropertyAssessed === 'others'">
                <app-text-input [(ngModel)]="local_data.specify" [label]="'Specify'"></app-text-input>
            </ng-container>
            
            <div class="m-0" *ngFor="let kindOfProperty of local_data.kindOfProperties; let i=index">
                <p class="m-0">
                    <strong>Kind of Property Assessed {{i+1}}</strong>
                </p>
                <div class="border border-secondary mb-3 p-3">
                    <div class="row">
                        <ng-container>
                            <mat-form-field appearance="fill" style="width: 100%;">
                                <mat-label>Kind of Lands</mat-label>
                                <mat-select (selectionChange)="zerosKindOfLandsIdSelected($event)" [(ngModel)]="kindOfProperty.kindOfLands">
                                <mat-option value="agricultural">Agricultural</mat-option>
                                <mat-option value="commercial">Commercial</mat-option>
                                <mat-option value="industrial">Industrial</mat-option>
                                <mat-option value="residential">Residential</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </ng-container>
                        <div class="col-2"> <!-- Classification -->
                            <ng-container *ngIf="local_data.kindOfPropertyAssessed === 'building'; else elseTemplate1">
                                <mat-form-field appearance="fill" style="width: 100%;">
                                    <mat-label>Classification</mat-label>
                                    <mat-select [(ngModel)]="kindOfProperty.classification">
                                    <mat-option value="agricultural">Agricultural</mat-option>
                                    <mat-option value="commercial">Commercial</mat-option>
                                    <mat-option value="industrial">Industrial</mat-option>
                                    <mat-option value="residential">Residential</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </ng-container>

                            <ng-template #elseTemplate1>
                                <ng-container *ngIf="kindOfProperty.kindOfLands === 'agricultural'">
                                    <mat-form-field appearance="fill" style="width: 100%;">
                                        <mat-label>Classification</mat-label>
                                        <mat-select [(ngModel)]="kindOfProperty.classification" #classification="ngModel" required>
                                            <mat-option value="1st class">1st class</mat-option>
                                            <mat-option value="2nd class">2nd class</mat-option>
                                            <mat-option value="3rd class">3rd class</mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="classification.invalid && (classification.dirty || classification.touched)">Please select a classification</mat-error>
                                    </mat-form-field>
                                </ng-container>

                                <ng-container *ngIf="kindOfProperty.kindOfLands === 'commercial'">
                                    <mat-form-field appearance="fill" style="width: 100%;">
                                        <mat-label>Classification</mat-label>
                                        <mat-select (selectionChange)="onClassificationCommSelected($event)" [(ngModel)]="kindOfProperty.classification" #classification="ngModel" required>
                                            <mat-option *ngFor="let comm of commercials" [value]="comm.name">{{comm.name}}</mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="classification.invalid && (classification.dirty || classification.touched)">Please select a classification</mat-error>
                                    </mat-form-field>
                                </ng-container>

                                <ng-container *ngIf="kindOfProperty.kindOfLands === 'industrial'">
                                    <mat-form-field appearance="fill" style="width: 100%;">
                                        <mat-label>Classification</mat-label>
                                        <mat-select (selectionChange)="onClassificationInduSelected($event)" [(ngModel)]="kindOfProperty.classification" #classification="ngModel" required>
                                            <mat-option *ngFor="let indu of industrials" [value]="indu.name">{{indu.name}}</mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="classification.invalid && (classification.dirty || classification.touched)">Please select a classification</mat-error>
                                    </mat-form-field>
                                </ng-container>

                                <ng-container *ngIf="kindOfProperty.kindOfLands === 'residential'">
                                    <mat-form-field appearance="fill" style="width: 100%;">
                                        <mat-label>Classification</mat-label>
                                        <mat-select (selectionChange)="onClassificationResiSelected($event)" [(ngModel)]="kindOfProperty.classification" #classification="ngModel" required>
                                            <mat-option *ngFor="let resi of residentials" [value]="resi.name">{{resi.name}}</mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="classification.invalid && (classification.dirty || classification.touched)">Please select a classification</mat-error>
                                    </mat-form-field>
                                </ng-container>
                            </ng-template>
                        </div>
                        <div class="col-2">
                            <app-text-input [(ngModel)]="kindOfProperty.area" [label]="'Area in hectares'" [type]="'number'" required></app-text-input>
                        </div>
                        <div class="col-2">
                            <app-text-input [(ngModel)]="kindOfProperty.marketValue" [label]="'Market Value'" [type]="'number'" required></app-text-input>
                        </div>
                        <div class="col-2"> <!-- Actual Use -->
                            <ng-container *ngIf="local_data.kindOfPropertyAssessed === 'building'; else elseTemplate2">
                                <app-text-input [(ngModel)]="kindOfProperty.actualUse" [label]="'Actual Use'" required></app-text-input>
                            </ng-container>
                            <ng-template #elseTemplate2>
                                <ng-container *ngIf="kindOfProperty.kindOfLands === 'agricultural'">
                                    <mat-form-field appearance="fill" style="width: 100%;">
                                        <mat-label>Actual Use</mat-label>
                                        <mat-select (selectionChange)="onActualUseAgriSelected($event)" [(ngModel)]="kindOfProperty.actualUse" #actualUse="ngModel" required>
                                            <mat-option *ngFor="let agri of agriculturals" [value]="agri.name">{{agri.name}}</mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="actualUse.invalid && (actualUse.dirty || actualUse.touched)">Please select an actual use</mat-error>
                                    </mat-form-field>
                                </ng-container>

                                <ng-container *ngIf="kindOfProperty.kindOfLands === 'commercial'">
                                    <app-text-input [(ngModel)]="kindOfProperty.actualUse" [label]="'Actual Use'" required></app-text-input>
                                </ng-container>

                                <ng-container *ngIf="kindOfProperty.kindOfLands === 'industrial'">
                                    <app-text-input [(ngModel)]="kindOfProperty.actualUse" [label]="'Actual Use'" required></app-text-input>
                                </ng-container>

                                <ng-container *ngIf="kindOfProperty.kindOfLands === 'residential'">
                                    <app-text-input [(ngModel)]="kindOfProperty.actualUse" [label]="'Actual Use'" required></app-text-input>
                                </ng-container>
                            </ng-template>
                        </div>
                        <div class="col-2">
                            <app-text-input [(ngModel)]="kindOfProperty.level" [label]="'Level'" [type]="'number'" required></app-text-input>
                        </div>
                        <div class="col-2">
                            <app-text-input [(ngModel)]="kindOfProperty.assessedValue" [label]="'Assessed Value'" [type]="'number'" required></app-text-input>
                        </div>
                    </div>
                </div>
            </div>
            <app-text-input [(ngModel)]="local_data.totalAssessedValueInWord" [label]="'Total Assessed Value (Amount in Words)'" required></app-text-input>
        </div>

        <div class="row border border-secondary p-3">
            <div class="col-4">
                <ng-container>
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Taxable or Exempt</mat-label>
                        <mat-select [(ngModel)]="local_data.taxableExempt">
                        <mat-option value="taxable">Taxable</mat-option>
                        <mat-option value="exempt">Exempt</mat-option>
                        </mat-select>
                    </mat-form-field>
                </ng-container>
            </div>
            <div class="col-4">
                <app-text-input [(ngModel)]="local_data.quarter" [label]="'Quarter'" required></app-text-input>
            </div>
            <div class="col-4">
                <app-text-input [(ngModel)]="local_data.year" [label]="'Year'" [type]="'number'" required></app-text-input>
            </div>

            <div class="row">
                <div class="col-6">
                    <app-text-input [(ngModel)]="local_data.recommendedBy" [label]="'Recommended by'"></app-text-input>
                </div>
                <div class="col-6">
                    <app-text-input [(ngModel)]="local_data.approvedBy" [label]="'Approved by'"></app-text-input>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <app-text-input [(ngModel)]="local_data.declarationCancels" [label]="'This declaration cancels'" required></app-text-input>
                </div>
                <div class="col-6">
                    <app-text-input [(ngModel)]="local_data.previousAssessedValue" [label]="'Previous Assessed Value'" [type]="'number'" required></app-text-input>
                </div>
            </div>
            <app-text-input [(ngModel)]="local_data.ownerTdNoCancels" [label]="'Owner of declaration cancels'"></app-text-input>
            <app-text-input class="w-100" [(ngModel)]="local_data.memoranda" [label]="'Memoranda'"></app-text-input>
            <label for="approvedMessage"><strong>Approved Message</strong></label>
            <textarea id="approvedMessage" class="w-100 mb-3" [(ngModel)]="local_data.approvedMessage" placeholder="Approved Message"></textarea>
            <label for="notes"><strong>Notes</strong></label>
            <textarea id="notes" rows="4" class="w-100 mb-3" [(ngModel)]="local_data.notes" placeholder="Notes"></textarea>
        </div>
    </ng-container>

    <ng-template #elseTemplate>
        Are you sure you want to delete <b>{{local_data.owner}}?</b>
    </ng-template>
</div>

<div mat-dialog-actions [align]="'end'">
    <button (click)="closeDialog()" mat-raised-button [mat-dialog-close]="false">
        Cancel
    </button>
    <button (click)="doAction()" mat-raised-button color="primary" [mat-dialog-close]="true">
        {{action}}
    </button>
</div>