<div class="container mt-3">
    <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-4">
                <app-text-input formControlName="ownerName" [label]="'Owner_Name'"></app-text-input>
                <app-text-input formControlName="taxDecNumber" [label]="'Tax Declaration Number'"></app-text-input>
                <app-text-input formControlName="ownerAddress" [label]="'Owner Address'"></app-text-input>
                <app-text-input formControlName="surveyLotNumber" [label]="'Survey Lot Number'"></app-text-input>
                <app-text-input formControlName="effectiveYear" [label]="'Effective Year'" [type]="'number'"></app-text-input>
                <app-text-input formControlName="landArea" [label]="'Land Area'" [type]="'number'"></app-text-input>
                <app-text-input formControlName="remarks" [label]="'Remarks'"></app-text-input>
            </div>
            <div class="col-4">
                <app-text-input formControlName="propertyIndex" [label]="'Property Index'"></app-text-input>
                <app-text-input formControlName="arpNumber" [label]="'ARP Number'"></app-text-input>
                <app-text-input formControlName="kind" [label]="'Kind'"></app-text-input>
                <app-text-input formControlName="class" [label]="'Class'"></app-text-input>
                <app-text-input formControlName="assessedValue" [label]="'Assessed Value'" [type]="'number'"></app-text-input>
                <app-text-input formControlName="previousTDNumber" [label]="'Previous Tax Declaration Number'"></app-text-input>
                <app-text-input formControlName="previousAV" [label]="'Previous Assessed Value'" [type]="'number'"></app-text-input>
            </div>
            <div class="col-4">

                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Property Location</mat-label>
                    <mat-select formControlName="propertyLocation">
                      <mat-option value="angilan">Angilan</mat-option>
                      <mat-option value="bojo">Bojo</mat-option>
                      <mat-option value="bonbon">Bonbon</mat-option>
                      <mat-option value="esperanza">Esperanza</mat-option>
                      <mat-option value="kandingan">Kandingan</mat-option>
                      <mat-option value="kantabogon">Kantabogon</mat-option>
                      <mat-option value="kawasan">Kawasan</mat-option>
                      <mat-option value="olango">Olango</mat-option>
                      <mat-option value="poblacion">Poblacion</mat-option>
                      <mat-option value="punay">Punay</mat-option>
                      <mat-option value="rosario">Rosario</mat-option>
                      <mat-option value="saksak">Saksak</mat-option>
                      <mat-option value="tampaan">Tampaan</mat-option>
                      <mat-option value="toyokon">Toyokon</mat-option>
                      <mat-option value="zaragosa">Zaragosa</mat-option>
                    </mat-select>
                </mat-form-field>

                <ng-container>
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Taxable or Exempt</mat-label>
                        <mat-select formControlName="taxableExempt">
                          <mat-option value="taxable">Taxable</mat-option>
                          <mat-option value="exempt">Exempt</mat-option>
                        </mat-select>
                    </mat-form-field>
                </ng-container>

                <div class="form-group mb-3">
                    <label for="formFiles">Upload Photos</label>
                    <input 
                        formControlName="formFiles"
                        id="formFiles" 
                        type="file" 
                        multiple
                        class="form-control"
                        accept="image/png, image/gif, image/jpeg"
                        (click)="clearInputFileValue()"
                        (change)="realPropertyService.onPhotoFileChange($event)">
                </div>

                <button [disabled]="createForm.invalid" class="w-50 mx-2" mat-raised-button color="primary" type="submit">Submit</button>
                <a routerLink="/real-property" class="w-25" mat-raised-button color="warn">Cancel</a>
            </div>
        </div>
    </form>
</div>
