<div class="container mt-3">
    <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
        <h3 class="text-center"><strong>TAX DECLARATION OF REAL PROPERTY</strong></h3>
        <div class="row border border-secondary p-3">
            <div class="col-6">
                <app-text-input formControlName="tdNo" [label]="'TD_Number'"></app-text-input>
                <app-text-input formControlName="owner" [label]="'Owner'"></app-text-input>
                <app-text-input formControlName="address" [label]="'Address'"></app-text-input>
            </div>
            <div class="col-6">
                <app-text-input formControlName="propertyIndentificationNo" [label]="'Property Identification No.'"></app-text-input>
                <app-text-input formControlName="arpNo" [label]="'ARP No.'"></app-text-input>
                <app-text-input formControlName="tinNo" [label]="'TIN No.'"></app-text-input>
                <app-text-input formControlName="telephoneNo" [label]="'Telephone No.'"></app-text-input>
            </div>
            <hr/>
            <div class="row">
                <div class="col-3 h6">
                    Location of Property:
                </div>
                <div class="col-3">
                    <app-text-input formControlName="street" [label]="'Number and Street'"></app-text-input>
                </div>
                <div class="col-2">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Barangay/District</mat-label>
                        <mat-select formControlName="barangay">
                          <mat-option *ngFor="let barangay of barangays" [value]="barangay.name">{{barangay.name | titlecase}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="createForm.get('barangay')!.hasError('required')">Please select barangay</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <app-text-input formControlName="municipality" [label]="'Municipality/City'"></app-text-input>
                </div>
                <div class="col-2">
                    <app-text-input formControlName="province" [label]="'Province'"></app-text-input>
                </div>
            </div>
        </div>
        <div class="row border border-secondary p-3 my-3">
            <div class="col-6">
                <app-text-input formControlName="octTctCloaNo" [label]="'OCT/TCT/CLOA No.'"></app-text-input>
                <app-text-input formControlName="octNo" [label]="'OCT No.'"></app-text-input>
                <app-text-input formControlName="dated" [label]="'Dated'"></app-text-input>
            </div>
            <div class="col-6">
                <app-text-input formControlName="surveyLotNo" [label]="'Survey Lot No.'"></app-text-input>
                <app-text-input formControlName="assessorLotNo" [label]="'Assessor\'s Lot No.'"></app-text-input>
                <app-text-input formControlName="blkNo" [label]="'Blk No.'"></app-text-input>
            </div>
        </div>
        <div class="row border border-secondary p-3 my-3" formGroupName="boundary">
            <p class="m-0"><strong>Boundaries</strong></p>
            <div class="col-6">
                <app-text-input formControlName="north" [label]="'North'"></app-text-input>
                <app-text-input formControlName="east" [label]="'East'"></app-text-input>
            </div>
            <div class="col-6">
                <app-text-input formControlName="south" [label]="'South'"></app-text-input>
                <app-text-input formControlName="west" [label]="'West'"></app-text-input>
            </div>
        </div>
        <div class="row border border-secondary p-3 my-3">
            <ng-container>
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Kind of Property Assessed</mat-label>
                    <mat-select formControlName="kindOfPropertyAssessed">
                      <mat-option value="land">Land</mat-option>
                      <mat-option value="building">Building</mat-option>
                      <mat-option value="machinery">Machinery</mat-option>
                      <mat-option value="others">Others</mat-option>
                    </mat-select>
                </mat-form-field>
            </ng-container>

            <ng-container *ngIf="createForm.get('kindOfPropertyAssessed')!.value === 'building'">
                <app-text-input formControlName="noOfStoreys" [label]="'No. of Storeys'"></app-text-input>
                <app-text-input formControlName="briefDescription" [label]="'Brief Description'"></app-text-input>
            </ng-container>
    
            <ng-container *ngIf="createForm.get('kindOfPropertyAssessed')!.value === 'machinery'">
                <app-text-input formControlName="briefDescription" [label]="'Brief Description'"></app-text-input>
            </ng-container>
    
            <ng-container *ngIf="createForm.get('kindOfPropertyAssessed')!.value === 'others'">
                <app-text-input formControlName="specify" [label]="'Specify'"></app-text-input>
            </ng-container>

            <div formArrayName="kindOfProperties">
                <div class="m-0" *ngFor="let kindOfProperty of kindOfProperties.controls; let i=index">
                    <p class="m-0">
                        <strong>Kind of Property Assessed {{i+1}}</strong>
                        <button matTooltip="Add another Kind of Property Assessed" mat-icon-button (click)="addKindOfProperty()" class="btn btn-outline-primary m-0">
                            <mat-icon aria-hidden="false" aria-label="Search">add</mat-icon>
                        </button>
                    </p>
                    <div [formGroupName]="i" class="border border-secondary mb-3 p-3">
                        <div class="row">
                            <ng-container>
                                <mat-form-field appearance="fill" style="width: 100%;">
                                    <mat-label>Kind of Lands</mat-label>
                                    <mat-select (selectionChange)="zerosKindOfLandsIdSelected($event)" formControlName="kindOfLands">
                                      <mat-option value="agricultural">Agricultural</mat-option>
                                      <mat-option value="commercial">Commercial</mat-option>
                                      <mat-option value="industrial">Industrial</mat-option>
                                      <mat-option value="residential">Residential</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </ng-container>
                            <div class="col-2"> <!-- Classification -->
                                <ng-container *ngIf="createForm.get('kindOfPropertyAssessed')!.value === 'building'; else elseTemplate1">
                                    <mat-form-field appearance="fill" style="width: 100%;">
                                        <mat-label>Classification</mat-label>
                                        <mat-select formControlName="classification">
                                          <mat-option value="agricultural">Agricultural</mat-option>
                                          <mat-option value="commercial">Commercial</mat-option>
                                          <mat-option value="industrial">Industrial</mat-option>
                                          <mat-option value="residential">Residential</mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="kindOfProperty.get('classification')!.hasError('required')">Please select a classification</mat-error>
                                    </mat-form-field>
                                </ng-container>
                                <ng-template #elseTemplate1>
                                    <ng-container *ngIf="kindOfProperty.get('kindOfLands')!.value === 'agricultural'">
                                        <mat-form-field appearance="fill" style="width: 100%;">
                                            <mat-label>Classification</mat-label>
                                            <mat-select formControlName="classification">
                                                <mat-option value="1st class">1st class</mat-option>
                                                <mat-option value="2nd class">2nd class</mat-option>
                                                <mat-option value="3rd class">3rd class</mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="kindOfProperty.get('classification')!.hasError('required')">Please select a classification</mat-error>
                                        </mat-form-field>
                                    </ng-container>
    
                                    <ng-container *ngIf="kindOfProperty.get('kindOfLands')!.value === 'commercial'">
                                        <mat-form-field appearance="fill" style="width: 100%;">
                                            <mat-label>Classification</mat-label>
                                            <mat-select (selectionChange)="onClassificationCommSelected($event)" formControlName="classification">
                                                <mat-option *ngFor="let comm of commercials" [value]="comm.name">{{comm.name}}</mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="kindOfProperty.get('classification')!.hasError('required')">Please select a classification</mat-error>
                                        </mat-form-field>
                                    </ng-container>
    
                                    <ng-container *ngIf="kindOfProperty.get('kindOfLands')!.value === 'industrial'">
                                        <mat-form-field appearance="fill" style="width: 100%;">
                                            <mat-label>Classification</mat-label>
                                            <mat-select (selectionChange)="onClassificationInduSelected($event)" formControlName="classification">
                                                <mat-option *ngFor="let indu of industrials" [value]="indu.name">{{indu.name}}</mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="kindOfProperty.get('classification')!.hasError('required')">Please select a classification</mat-error>
                                        </mat-form-field>
                                    </ng-container>
    
                                    <ng-container *ngIf="kindOfProperty.get('kindOfLands')!.value === 'residential'">
                                        <mat-form-field appearance="fill" style="width: 100%;">
                                            <mat-label>Classification</mat-label>
                                            <mat-select (selectionChange)="onClassificationResiSelected($event)" formControlName="classification">
                                                <mat-option *ngFor="let resi of residentials" [value]="resi.name">{{resi.name}}</mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="kindOfProperty.get('classification')!.hasError('required')">Please select a classification</mat-error>
                                        </mat-form-field>
                                    </ng-container>
                                </ng-template>
                            </div>
                            <div class="col-2">
                                <app-text-input formControlName="area" [label]="'Area in hectares'" [type]="'number'"></app-text-input>
                            </div>
                            <div class="col-2">
                                <app-text-input formControlName="marketValue" [label]="'Market Value'" [type]="'number'"></app-text-input>
                            </div>
                            <div class="col-2"> <!-- Actual Use -->
                                <ng-container *ngIf="createForm.get('kindOfPropertyAssessed')!.value === 'building'; else elseTemplate2">
                                    <app-text-input formControlName="actualUse" [label]="'Actual Use'">{{kindOfProperty.get('actualUse')!.value}}</app-text-input>
                                </ng-container>
                                <ng-template #elseTemplate2>
                                    <ng-container *ngIf="kindOfProperty.get('kindOfLands')!.value === 'agricultural'">
                                        <mat-form-field appearance="fill" style="width: 100%;">
                                            <mat-label>Actual Use</mat-label>
                                            <mat-select (selectionChange)="onActualUseAgriSelected($event)" formControlName="actualUse">
                                                <mat-option *ngFor="let agri of agriculturals" [value]="agri.name">{{agri.name}}</mat-option>
                                            </mat-select>
                                            <mat-error *ngIf="kindOfProperty.get('actualUse')!.hasError('required')">Please select an actual use</mat-error>
                                        </mat-form-field>
                                    </ng-container>
    
                                    <ng-container *ngIf="kindOfProperty.get('kindOfLands')!.value === 'commercial'">
                                        <app-text-input formControlName="actualUse" [label]="'Actual Use'">{{kindOfProperty.get('actualUse')!.value}}</app-text-input>
                                    </ng-container>
    
                                    <ng-container *ngIf="kindOfProperty.get('kindOfLands')!.value === 'industrial'">
                                        <app-text-input formControlName="actualUse" [label]="'Actual Use'">{{kindOfProperty.get('actualUse')!.value}}</app-text-input>
                                    </ng-container>
    
                                    <ng-container *ngIf="kindOfProperty.get('kindOfLands')!.value === 'residential'">
                                        <app-text-input formControlName="actualUse" [label]="'Actual Use'">{{kindOfProperty.get('actualUse')!.value}}</app-text-input>
                                    </ng-container>
                                </ng-template>
                            </div>
                            <div class="col-2">
                                <app-text-input formControlName="level" [label]="'Level'" [type]="'number'"></app-text-input>
                            </div>
                            <div class="col-2">
                                <app-text-input formControlName="assessedValue" [label]="'Assessed Value'" [type]="'number'"></app-text-input>
                            </div>
                        </div>
                        <ng-container *ngIf="i >= 1">
                            <button matTooltip="Delete Kind of Property Assessed" mat-icon-button (click)="deleteKindOfProperty(i)" class="btn btn-outline-danger">
                                <mat-icon aria-hidden="false" aria-label="Search">delete</mat-icon>
                            </button>
                        </ng-container>
                    </div>
                </div>
            </div>
            <app-text-input formControlName="totalAssessedValueInWord" [label]="'Total Assessed Value (Amount in Words)'"></app-text-input>
        </div>
        <div class="row border border-secondary p-3">
            <div class="col-4">
                <ng-container>
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Taxable or Exempt</mat-label>
                        <mat-select formControlName="taxableExempt">
                        <mat-option value="taxable">Taxable</mat-option>
                        <mat-option value="exempt">Exempt</mat-option>
                        </mat-select>
                    </mat-form-field>
                </ng-container>
            </div>
            <div class="col-4">
                <app-text-input formControlName="quarter" [label]="'Quarter'"></app-text-input>
            </div>
            <div class="col-4">
                <app-text-input formControlName="year" [label]="'Year'" [type]="'number'"></app-text-input>
            </div>

            <div class="row">
                <div class="col-6">
                    <app-text-input formControlName="recommendedBy" [label]="'Recommended by'"></app-text-input>
                </div>
                <div class="col-6">
                    <app-text-input formControlName="approvedBy" [label]="'Approved by'"></app-text-input>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <app-text-input formControlName="declarationCancels" [label]="'This declaration cancels'"></app-text-input>
                </div>
                <div class="col-6">
                    <app-text-input formControlName="previousAssessedValue" [label]="'Previous Assessed Value'" [type]="'number'"></app-text-input>
                </div>
            </div>
            <app-text-input formControlName="ownerTdNoCancels" [label]="'Owner of declaration cancels'"></app-text-input>
            <app-text-input class="w-100" formControlName="memoranda" [label]="'Memoranda'"></app-text-input>
            <label for="approvedMessage"><strong>Approved Message</strong></label>
            <textarea id="approvedMessage" class="w-100 mb-3" formControlName="approvedMessage" placeholder="Approved Message"></textarea>
            <label for="notes"><strong>Notes</strong></label>
            <textarea id="notes" rows="4" class="w-100 mb-3" formControlName="notes" placeholder="Notes"></textarea>
    
            <div class="form-group mb-3">
                <label for="formFiles">Upload Photos</label>
                <input 
                    formControlName="formFiles"
                    id="formFiles" 
                    type="file" 
                    multiple
                    class="form-control"
                    accept="image/png, image/gif, image/jpeg"
                    (click)="clearInputFileValue()"
                    (change)="realPropertyService.onPhotoFileChange($event)">
            </div>
    
            <button [disabled]="createForm.invalid" class="w-50 mx-2" mat-raised-button color="primary" type="submit">Submit</button>
            <a routerLink="/real-property" class="w-25" mat-raised-button color="warn">Cancel</a>
        </div>

        
    </form>
</div>
