<div class="header">
    <h2 mat-dialog-title>
        <strong>{{action}}</strong> data
    </h2>
    <button mat-icon-button [mat-dialog-close]="false">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div mat-dialog-content>
    <ng-container *ngIf="action == 'Add'">
        <h2>Staff</h2>
        <app-text-input [(ngModel)]="local_data.name" [label]="'Name'" required></app-text-input>
        <mat-form-field appearance="fill">
            <mat-label>Gender</mat-label>
            <mat-select [(ngModel)]="local_data.gender" placeholder="Gender" required>
              <mat-option value="male">Male</mat-option>
              <mat-option value="female">Female</mat-option>
            </mat-select>
            <mat-error>Please select a gender</mat-error>
        </mat-form-field>
        <app-text-input [(ngModel)]="local_data.address" [label]="'Address'" required></app-text-input>
        <app-text-input [(ngModel)]="local_data.contact" [label]="'Contact'" required></app-text-input>
        <mat-form-field appearance="fill">
            <mat-label>Designation</mat-label>
            <mat-select [(ngModel)]="local_data.designation" placeholder="Designation" required>
              <mat-option value="assessor">Assessor</mat-option>
              <mat-option value="staff">Staff</mat-option>
            </mat-select>
            <mat-error>Please select a designation</mat-error>
        </mat-form-field>
    </ng-container>

    <ng-container *ngIf="action == 'Update'">
        <h2>Staff</h2>
        <app-text-input [(ngModel)]="local_data.name" [label]="'Name'" required></app-text-input>
        <mat-form-field appearance="fill">
            <mat-label>Gender</mat-label>
            <mat-select [(ngModel)]="local_data.gender" placeholder="Gender" required>
              <mat-option value="male">Male</mat-option>
              <mat-option value="female">Female</mat-option>
            </mat-select>
            <mat-error>Please select a gender</mat-error>
        </mat-form-field>
        <app-text-input [(ngModel)]="local_data.address" [label]="'Address'" required></app-text-input>
        <app-text-input [(ngModel)]="local_data.contact" [label]="'Contact'" required></app-text-input>
        <mat-form-field appearance="fill">
            <mat-label>Designation</mat-label>
            <mat-select [(ngModel)]="local_data.designation" placeholder="Designation" required>
              <mat-option value="assessor">Assessor</mat-option>
              <mat-option value="staff">Staff</mat-option>
            </mat-select>
            <mat-error>Please select a designation</mat-error>
        </mat-form-field>
    </ng-container>

    <ng-container *ngIf="action == 'Delete'">
        <h2>Staff</h2>
        Are you sure you want to delete <b>{{local_data.name}}?</b>
    </ng-container>
</div>

<div mat-dialog-actions [align]="'end'">
    <button (click)="closeDialog()" mat-raised-button [mat-dialog-close]="false">
        Cancel
    </button>
    <button (click)="doAction()" mat-raised-button color="primary" [mat-dialog-close]="true">
        {{action}}
    </button>
</div>