.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.full-width {
    width: 100%;
}

table {
    width: 100%;
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}

tr.mat-footer-row {
    font-weight: bold;
}