<div class="header">
    <h2 mat-dialog-title>
        <strong>{{action}}</strong> data
    </h2>
    <button mat-icon-button [mat-dialog-close]="false">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div mat-dialog-content *ngIf="realPropertyFromLoadIndividualRevise">
    <ng-container *ngIf="action == 'Revise'">
        <div class="row">
            <div class="col-8">
                <h2>Revise</h2>
            </div>
            <div class="col-4">
                <button mat-icon-button tabindex="-1" class="float-end mx-3" matTooltip="Print"
                [useExistingCss]="true"
                printTitle="Tracer"
                printSectionId="print-section" 
                ngxPrint><mat-icon>print</mat-icon>
            </button>
            </div>
        </div>
    </ng-container>

    <div class="row">
        <div class="col">
            <!-- New TD No. -->
            <app-text-input [(ngModel)]="realPropertyFromLoadIndividualRevise.tdNo" [label]="'New TD No.'" required></app-text-input>
        </div>
        <div class="col">
            <!-- New Total Assessed Value in Word -->
            <app-text-input [(ngModel)]="realPropertyFromLoadIndividualRevise.totalAssessedValueInWord" [label]="'New Total Assessed Value in Word'" required></app-text-input>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">               
        </div>
        <div class="col">
            New Total Assessed Value: <strong>{{getTotalAssessedValue() | number}}</strong>
        </div>
    </div>

    <div class="container-fluid" id="print-section">
        <div class="row">
            <div class="col border border-dark">
                <strong>REAL PROPERTY FIELD APPRAISAL & ASSESSMENT SHEET - LAND/PLANTS & TREES</strong>
            </div>
        </div>
        <div class="row">
            <div class="col-6 border border-dark">
                ARP No. {{realPropertyFromLoadIndividualRevise.arpNo}}
            </div>
            <div class="col-6 border border-dark">
                PIN: {{realPropertyFromLoadIndividualRevise.propertyIdentificationNo}}
            </div>
        </div>
        <div class="row">
            <div class="col-6 border border-dark">
                OCT/TCT NO. {{realPropertyFromLoadIndividualRevise.octTctCloaNo}}
            </div>
            <div class="col-6 border border-dark">
                Survey No. {{realPropertyFromLoadIndividualRevise.surveyLotNo}}
            </div>
        </div>
        <div class="row">
            <div class="col-6 border border-dark">
                Owner: {{realPropertyFromLoadIndividualRevise.owner | titlecase}}
            </div>
            <div class="col-6 border border-dark">
                Address: {{realPropertyFromLoadIndividualRevise.address | titlecase}}
                <p>Tel. No. {{realPropertyFromLoadIndividualRevise.telephoneNo}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6 border border-dark">
                Administrative Occupant: 
            </div>
            <div class="col-6 border border-dark">
                Address: 
                <p>Tel. No. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-6 border border-dark">
                <strong>Property Location</strong>
                <p>No./Street: {{realPropertyFromLoadIndividualRevise.street}}</p>
            </div>
            <div class="col-6 border border-dark">
                Barangay/District: {{realPropertyFromLoadIndividualRevise.barangay | titlecase}}
            </div>
        </div>
        <div class="row">
            <div class="col-6 border border-dark">
                Municipality/City: {{realPropertyFromLoadIndividualRevise.municipality | titlecase}}
            </div>
            <div class="col-6 border border-dark">
                Province: {{realPropertyFromLoadIndividualRevise.province | titlecase}}
            </div>
        </div>
        <div class="row">
            <div class="col-6 border border-dark">
                <strong>Property Boundaries</strong>
            </div>
            <div class="col-6 border border-dark">
                <strong>Land Sketch</strong>
            </div>
        </div>
        <div class="row">
            <div class="col-6 border border-dark">
                <div class="row">
                    <div class="col-6 border border-secondary">
                        North
                    </div>
                    <div class="col-6 border border-secondary">
                        {{realPropertyFromLoadIndividualRevise.boundary?.north}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 border border-secondary">
                        East
                    </div>
                    <div class="col-6 border border-secondary">
                        {{realPropertyFromLoadIndividualRevise.boundary?.east}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 border border-secondary">
                        South
                    </div>
                    <div class="col-6 border border-secondary">
                        {{realPropertyFromLoadIndividualRevise.boundary?.south}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 border border-secondary">
                        West
                    </div>
                    <div class="col-6 border border-secondary">
                        {{realPropertyFromLoadIndividualRevise.boundary?.west}}
                    </div>
                </div>
            </div>
            <div class="col-6 border border-bottom-0 border-dark">
                
            </div>
        </div>
        <div class="row">
            <div class="col-3 border border-dark">
                <strong>Land Appraisal</strong>
            </div>
            <div class="col-3 border border-dark">
                
            </div>
            <div class="col-6 border border-bottom border-top-0 border-dark">
                
            </div>
        </div>
        <div class="row">
            <div class="col border border-dark">
                    <!-- Material Table 1 -->
                <table mat-table [dataSource]="realPropertyFromLoadIndividualRevise.kindOfProperties" #mytable class="my-table mat-elevation-z8">
        
                    <!-- Kind of Lands Column -->
                    <ng-container matColumnDef="kindOfLands">
                    <th mat-header-cell *matHeaderCellDef> Classification </th>
                    <td mat-cell *matCellDef="let element"> {{element.kindOfLands | titlecase}}  </td>
                    <td mat-footer-cell *matFooterCellDef> Total </td>
                    </ng-container>
        
                    <!-- Classification Column -->
                    <ng-container matColumnDef="classification">
                    <th mat-header-cell *matHeaderCellDef> Sub-class </th>
                    <td mat-cell *matCellDef="let element"> {{element.classification}} </td>
                    <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>
        
                    <!-- Area Column -->
                    <ng-container matColumnDef="area">
                    <th mat-header-cell *matHeaderCellDef> Area </th>
                    <td mat-cell *matCellDef="let element"> {{element.area | number: '0.1-4'}} </td>
                    <td mat-footer-cell *matFooterCellDef> {{getTotalArea() | number: '0.1-4'}} </td>
                    </ng-container>
        
                    <!-- Actual Use Column -->
                    <ng-container matColumnDef="actualUse">
                    <th mat-header-cell *matHeaderCellDef> Actual Use </th>
                    <td mat-cell *matCellDef="let element"> {{element.actualUse | titlecase}} </td>
                    <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>
        
                    <!-- Unit Value Column -->
                    <ng-container matColumnDef="marketValueLands">
                    <th mat-header-cell *matHeaderCellDef> Unit Value </th>
                    <td mat-cell *matCellDef="let element"> {{element.marketValueAgri || element.marketValueComm || element.marketValueIndu || element.marketValueResi | number}} </td>
                    <td mat-footer-cell *matFooterCellDef> {{getTotalUnitValue() | number}} </td>
                    </ng-container>
        
                    <!-- Market Value Column -->
                    <ng-container matColumnDef="marketValue">
                    <th mat-header-cell *matHeaderCellDef> Market Value </th>
                    <td mat-cell *matCellDef="let element"> {{element.area * (element.marketValueAgri || element.marketValueComm || element.marketValueIndu || element.marketValueResi) | number}} </td>
                    <td mat-footer-cell *matFooterCellDef> {{getTotalMarketValue() | number}} </td>
                    </ng-container>
        
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
        
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col border border-dark"><strong>Plants and Trees Appraisal</strong></div>
        </div>
        <div class="row">
            <div class="col-2 border border-dark">
                Product Class
            </div>
            <div class="col-1 border border-dark">
                Area Planted
            </div>
            <div class="col-1 border border-dark">
                Total Number
            </div>
            <div class="col-2 border border-dark">
                Non Fruit Bearing
            </div>
            <div class="col-2 border border-dark">
                Fruit Bearing
            </div>
            <div class="col-1 border border-dark">
                Age
            </div>
            <div class="col-1 border border-dark">
                Unit Price
            </div>
            <div class="col-2 border border-dark">
                Market Place
            </div>
        </div>
        <div class="row">
            <div class="col-2 border border-dark">
                &nbsp;
            </div>
            <div class="col-1 border border-dark">
                
            </div>
            <div class="col-1 border border-dark">
                
            </div>
            <div class="col-2 border border-dark">
                
            </div>
            <div class="col-2 border border-dark">
                
            </div>
            <div class="col-1 border border-dark">
                
            </div>
            <div class="col-1 border border-dark">
                
            </div>
            <div class="col-2 border border-dark">
                
            </div>
        </div>
        <div class="row">
            <div class="col-2 border border-dark">
                &nbsp;
            </div>
            <div class="col-1 border border-dark">
                
            </div>
            <div class="col-1 border border-dark">
                
            </div>
            <div class="col-2 border border-dark">
                
            </div>
            <div class="col-2 border border-dark">
                
            </div>
            <div class="col-1 border border-dark">
                
            </div>
            <div class="col-1 border border-dark">
                
            </div>
            <div class="col-2 border border-dark">
                
            </div>
        </div>
        <div class="row">
            <div class="col-2 border border-dark">
                &nbsp;
            </div>
            <div class="col-1 border border-dark">
                
            </div>
            <div class="col-1 border border-dark">
                
            </div>
            <div class="col-2 border border-dark">
                
            </div>
            <div class="col-2 border border-dark">
                
            </div>
            <div class="col-1 border border-dark">
                
            </div>
            <div class="col-1 border border-dark">
                
            </div>
            <div class="col-2 border border-dark">
                
            </div>
        </div>
        <div class="row">
            <div class="col-2 border border-dark">
                &nbsp;
            </div>
            <div class="col-1 border border-dark">
                
            </div>
            <div class="col-1 border border-dark">
                
            </div>
            <div class="col-2 border border-dark">
                
            </div>
            <div class="col-2 border border-dark">
                
            </div>
            <div class="col-1 border border-dark">
                
            </div>
            <div class="col-1 border border-dark">
                
            </div>
            <div class="col-2 border border-dark">
                
            </div>
        </div>
        <div class="row">
            <div class="col-2 border border-dark">
                Total
            </div>
            <div class="col-1 border border-dark">
                
            </div>
            <div class="col-1 border border-dark">
                
            </div>
            <div class="col-2 border border-dark">
                
            </div>
            <div class="col-2 border border-dark">
                
            </div>
            <div class="col-1 border border-dark">
                
            </div>
            <div class="col-1 border border-dark">
                
            </div>
            <div class="col-2 border border-dark">
                
            </div>
        </div>
        <p>&nbsp;</p>
        <hr/>
        <p>&nbsp;</p>
        <div class="row">
            <div class="col border border-dark"><strong>Value Adjustments Factors</strong></div>
        </div>
        <div class="row">
            <div class="col border border-dark">
                    <!-- Material Table 2 -->
                <table mat-table [dataSource]="realPropertyFromLoadIndividualRevise.kindOfProperties" #mytable class="my-table mat-elevation-z8">
        
                    <!-- Market Value Column -->
                    <ng-container matColumnDef="marketValue">
                    <th mat-header-cell *matHeaderCellDef> Market Value </th>
                    <td mat-cell *matCellDef="let element"> {{element.area * (element.marketValueAgri || element.marketValueComm || element.marketValueIndu || element.marketValueResi) | number}} </td>
                    <td mat-footer-cell *matFooterCellDef> {{getTotalMarketValue() | number}} </td>
                    </ng-container>
        
                    <!-- Adjustment Factor Column -->
                    <ng-container matColumnDef="adjustmentFactor">
                    <th mat-header-cell *matHeaderCellDef> Adjustment Factor </th>
                    <td mat-cell *matCellDef="let element"> </td>
                    <td mat-footer-cell *matFooterCellDef> Total </td>
                    </ng-container>
        
                    <!-- Percent Adjustment Column -->
                    <ng-container matColumnDef="percentAdjustment">
                    <th mat-header-cell *matHeaderCellDef> % Adjustment </th>
                    <td mat-cell *matCellDef="let element"> 
                        <ng-container>
                            <mat-form-field appearance="fill" style="width: 70px;">
                                <mat-label>  </mat-label>
                                <mat-select (selectionChange)="onPercentAdjustmentSelected($event)" [(ngModel)]="defaultPercentAdjustmentSelect">
                                <mat-option *ngFor="let percentAdj of percentAdjustmentOptions" [value]="percentAdj.value">
                                    {{percentAdj.name}}
                                </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </ng-container>
                    </td>
                    <td mat-footer-cell *matFooterCellDef> {{getTotalPercentAdjustment()}}% </td>
                    </ng-container>
        
                    <!-- Value Adjustment Column -->
                    <ng-container matColumnDef="valueAdjustment">
                    <th mat-header-cell *matHeaderCellDef> Value Adjustment </th>
                    <td mat-cell *matCellDef="let element"> 
                        <ng-container *ngIf="defaultPercentAdjustmentSelect === 8">
                            {{(element.area * (element.marketValueAgri || element.marketValueComm || element.marketValueIndu || element.marketValueResi)) * convertPercentToDecimal(8) | number: '0.1-2'}} 
                        </ng-container>
                        <ng-container *ngIf="defaultPercentAdjustmentSelect === 6">
                            {{(element.area * (element.marketValueAgri || element.marketValueComm || element.marketValueIndu || element.marketValueResi)) * convertPercentToDecimal(6) | number: '0.1-2'}} 
                        </ng-container>
                    </td>
                    <td mat-footer-cell *matFooterCellDef> {{getTotalValueAdjustment() | number: '0.1-2'}} </td>
                    </ng-container>
        
                    <!-- Adjusted Market Value Column -->
                    <ng-container matColumnDef="adjustedMarketValue">
                    <th mat-header-cell *matHeaderCellDef> Adjusted Market Value </th>
                    <td mat-cell *matCellDef="let element"> 
                        <ng-container *ngIf="defaultPercentAdjustmentSelect === 8">
                            {{(element.area * (element.marketValueAgri || element.marketValueComm || element.marketValueIndu || element.marketValueResi)) - ((element.area * (element.marketValueAgri || element.marketValueComm || element.marketValueIndu || element.marketValueResi)) * convertPercentToDecimal(8)) | number: '0.1-2'}} 
                        </ng-container>
                        <ng-container *ngIf="defaultPercentAdjustmentSelect === 6">
                            {{(element.area * (element.marketValueAgri || element.marketValueComm || element.marketValueIndu || element.marketValueResi)) + ((element.area * (element.marketValueAgri || element.marketValueComm || element.marketValueIndu || element.marketValueResi)) * convertPercentToDecimal(6)) | number: '0.1-2'}} 
                        </ng-container>
                    </td>
                    <td mat-footer-cell *matFooterCellDef> {{getTotalAdjustedMarketValue() | number: '0.1-2'}} </td>
                    </ng-container>
        
                    <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                    <tr mat-footer-row *matFooterRowDef="displayedColumns2"></tr>
        
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col border border-dark">
                <!-- Material Table 3 -->
                <table mat-table [dataSource]="realPropertyFromLoadIndividualRevise.kindOfProperties" #mytable class="my-table mat-elevation-z8">
    
                    <!-- Kind Column -->
                    <ng-container matColumnDef="kind">
                    <th mat-header-cell *matHeaderCellDef> Kind </th>
                    <td mat-cell *matCellDef="let element"> {{realPropertyFromLoadIndividualRevise.kindOfPropertyAssessed | titlecase}} </td>
                    <td mat-footer-cell *matFooterCellDef> Total </td>
                    </ng-container>
        
                    <!-- Actual Use Column -->
                    <ng-container matColumnDef="actualUse">
                    <th mat-header-cell *matHeaderCellDef> Actual Use </th>
                    <td mat-cell *matCellDef="let element"> {{element.actualUse | titlecase}} </td>
                    <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>
        
                    <!-- Adjusted Market Value Column -->
                    <ng-container matColumnDef="adjustedMarketValue">
                    <th mat-header-cell *matHeaderCellDef> Adjusted Market Value </th>
                    <td mat-cell *matCellDef="let element"> 
                        <ng-container *ngIf="defaultPercentAdjustmentSelect === 8">
                            {{roundOffToTheNearestTens((element.area * (element.marketValueAgri || element.marketValueComm || element.marketValueIndu || element.marketValueResi)) - ((element.area * (element.marketValueAgri || element.marketValueComm || element.marketValueIndu || element.marketValueResi)) * convertPercentToDecimal(8))) | number}} 
                        </ng-container>
                        <ng-container *ngIf="defaultPercentAdjustmentSelect === 6">
                            {{roundOffToTheNearestTens((element.area * (element.marketValueAgri || element.marketValueComm || element.marketValueIndu || element.marketValueResi)) + ((element.area * (element.marketValueAgri || element.marketValueComm || element.marketValueIndu || element.marketValueResi)) * convertPercentToDecimal(6))) | number}} 
                        </ng-container>
                    </td>
                    <td mat-footer-cell *matFooterCellDef> {{roundOffToTheNearestTens(getTotalAdjustedMarketValue()) | number}} </td>
                    </ng-container>
        
                    <!-- Assessment Level Column -->
                    <ng-container matColumnDef="assessmentLevel">
                    <th mat-header-cell *matHeaderCellDef> Assessment Level </th>
                    <td mat-cell *matCellDef="let element"> {{element.level}}% </td>
                    <td mat-footer-cell *matFooterCellDef> {{getTotalAssessmentLevel()}}% </td>
                    </ng-container>
        
                    <!-- Assessed Value Column -->
                    <ng-container matColumnDef="assessedValue">
                    <th mat-header-cell *matHeaderCellDef> Assessed Value </th>
                    <td mat-cell *matCellDef="let element"> 
                        <ng-container *ngIf="defaultPercentAdjustmentSelect === 8">
                            {{roundOffToTheNearestTens(roundOffToTheNearestTens((element.area * (element.marketValueAgri || element.marketValueComm || element.marketValueIndu || element.marketValueResi)) - ((element.area * (element.marketValueAgri || element.marketValueComm || element.marketValueIndu || element.marketValueResi)) * convertPercentToDecimal(8))) * convertPercentToDecimal(element.level)) | number}} 
                        </ng-container>
                        <ng-container *ngIf="defaultPercentAdjustmentSelect === 6">
                            {{roundOffToTheNearestTens(roundOffToTheNearestTens((element.area * (element.marketValueAgri || element.marketValueComm || element.marketValueIndu || element.marketValueResi)) + ((element.area * (element.marketValueAgri || element.marketValueComm || element.marketValueIndu || element.marketValueResi)) * convertPercentToDecimal(6))) * convertPercentToDecimal(element.level)) | number}} 
                        </ng-container>
                    </td>
                    <td mat-footer-cell *matFooterCellDef> {{getTotalAssessedValue() | number}} </td>
                    </ng-container>
        
                    <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
                    <tr mat-footer-row *matFooterRowDef="displayedColumns3"></tr>
        
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-3 border border-dark">
                <strong>Previous Owner</strong>
            </div>
            <div class="col-3 border border-dark">
                {{realPropertyFromLoadIndividualRevise.owner | titlecase}}
            </div>
            <div class="col-3 border border-dark">
                <strong>Taxability</strong>
            </div>
            <div class="col-3 border border-dark">
                {{realPropertyFromLoadIndividualRevise.taxableExempt | titlecase}}
            </div>
        </div>
        <div class="row">
            <div class="col-3 border border-dark">
                <strong>Previous Assessed Value</strong> 
            </div>
            <div class="col-3 border border-dark">
                <!-- Previous Assessed Value - Solve to change -->
                {{copiedPreviousAssessedValue | number}} 
            </div>
            <div class="col-3 border border-dark">
                <strong>Effectivity</strong>
            </div>
            <div class="col-3 border border-dark">
                <div *ngIf="quarter == 1">
                    {{quarter}}st Qtr. {{year}}
                </div>
                <div *ngIf="quarter == 2">
                    {{quarter}}nd Qtr. {{year}}
                </div>
                <div *ngIf="quarter == 3">
                    {{quarter}}rd Qtr. {{year}}
                </div>
                <div *ngIf="quarter == 4">
                    {{quarter}}th Qtr. {{year}}
                </div>
            </div>
        </div>
        <p>&nbsp;</p>
        <div class="row">
            <p><strong>APPRAISED:</strong></p>
            <div class="col-6">
                <mat-form-field appearance="fill" style="height: 40%;">
                    <mat-select [value]="staffDefault?.name" required>
                    <mat-option *ngFor="let staff of staffsFilter" [value]="staff.name">{{staff.name | uppercase}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <h6 class="mt-1">&nbsp;&nbsp;&nbsp; Name</h6>
            </div>
            <div class="col-6" >
                <h6 style="width: 50%;">Date <hr></h6>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <p><strong>RECOMMENDING APPROVAL:</strong></p>
            </div>
            <div class="col-6">
                <p><strong>APPROVED:</strong></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h6 class="m-0"><strong><u>{{assessor?.name | uppercase}}</u></strong></h6>
                <h6>Municipal Assessor &nbsp;&nbsp;&nbsp;</h6>
            </div>
            <div class="col">
                <h6>Date <hr></h6>
            </div>
            <div class="col">
                <h6 class="m-0"><strong><u>{{provincialAssessor?.name | uppercase}}</u></strong></h6>
                <h6>OIC/Provincial Assessor &nbsp;&nbsp;&nbsp;</h6>
            </div>
            <div class="col">
                <h6>Date <hr></h6>
            </div>
        </div>
        <p>&nbsp;</p>
        <div class="row">
            <p class="m-0"><strong>MEMORANDA:</strong></p>
            <div class="col border border-dark m-0">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col border border-dark">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col border border-dark">
                <strong>D. Reference & Posting Summary:</strong>
            </div>
        </div>
        <div class="row">
            <div class="col-3 d-flex align-items-center justify-content-center border border-dark">
                <strong>Pre & Post Inspection</strong>
            </div>
            <div class="col-3 d-flex align-items-center justify-content-center border border-dark">
                <strong>Previous</strong>
            </div>
            <div class="col-3 d-flex align-items-center justify-content-center border border-dark">
                <strong>Present</strong>
            </div>
            <div class="col-3 border border-dark text-center">
                <strong>Posting</strong>
                <div class="row">
                    <div class="col border border-dark text-center">Initial</div>
                    <div class="col border border-dark text-center">Date</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3 border border-dark">
                <strong>PIN</strong>
            </div>
            <div class="col-3 border border-dark">
                {{realPropertyFromLoadIndividualRevise.propertyIdentificationNo}}
            </div>
            <div class="col-3 border border-dark">
                {{realPropertyFromLoadIndividualRevise.propertyIdentificationNo}}
            </div>
            <div class="col-3 border border-dark">
                <div class="row">
                    <div class="col border-end">&nbsp;</div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3 border border-dark d-flex p-2 bd-highlight">
                <strong>TDN/ARP</strong>
            </div>
            <!-- Previous -->
            <div class="col-3 border border-dark d-flex p-2 bd-highlight">
                {{copiedTdNo}} / {{realPropertyFromLoadIndividualRevise.arpNo}}
            </div>
            <!-- Present -->
            <div class="col-3 border border-dark d-flex p-2 bd-highlight">
                {{realPropertyFromLoadIndividualRevise.tdNo}}
            </div>
            <div class="col-3 border border-dark">
                <div class="row">
                    <div class="col border-end">&nbsp;</div>
                    <div class="col"></div>
                </div>
                <div class="row">
                    <div class="col border-end">&nbsp;</div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3 border border-dark">
                <strong>Ass. Roll Page and No.</strong>
            </div>
            <div class="col-3 border border-dark"></div>
            <div class="col-3 border border-dark"></div>
            <div class="col-3 border border-dark">
                <div class="row">
                    <div class="col border border-end">&nbsp;</div>
                    <div class="col"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div mat-dialog-actions [align]="'end'">
    <button (click)="closeDialog()" mat-raised-button [mat-dialog-close]="false">
        Cancel
    </button>
    <button type="submit" (click)="doAction()" mat-raised-button color="primary" [mat-dialog-close]="true">
        {{action}}
    </button>
</div>