.logo {
    max-height: 79px;
    position: absolute;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    font-size: 1em;
    color: white;
    text-align: center;
    left: 90px;
}