<div class="container-fluid">
    <div class="row text-center mt-3">
        <div class="col">
            <img src="{{logo1st?.url || '../../../../assets/images/logo-default.png'}}" alt="aloguinsan logo" class="logo m-0">

            <carousel>
                <slide>
                  <img src="../../assets/images/carousel.png" alt="first slide" style="display: block; width: 100%;">
                  <div class="carousel-caption d-none d-md-block">
                    <h3>Welcome to the Assessor's Office!</h3>
                    <p>Tax Declaration of Real Property</p>
                  </div>
                </slide>
                <slide>
                  <img src="../../assets/images/carousel.png" alt="second slide" style="display: block; width: 100%;">
                  <div class="carousel-caption d-none d-md-block">
                    <h3>Welcome to the Assessor's Office!</h3>
                    <p>Revise</p>
                  </div>
                </slide>
                <slide>
                  <img src="../../assets/images/carousel.png" alt="third slide" style="display: block; width: 100%;">
                  <div class="carousel-caption d-none d-md-block">
                    <h3>Welcome to the Assessor's Office!</h3>
                    <p>Tracer</p>
                  </div>
                </slide>
                <slide>
                    <img src="../../assets/images/carousel.png" alt="fourth slide" style="display: block; width: 100%;">
                    <div class="carousel-caption d-none d-md-block">
                      <h3>Welcome to the Assessor's Office!</h3>
                      <p>Assessment Roll</p>
                    </div>
                </slide>
                <slide>
                    <img src="../../assets/images/carousel.png" alt="fifth slide" style="display: block; width: 100%;">
                    <div class="carousel-caption d-none d-md-block">
                      <h3>Welcome to the Assessor's Office!</h3>
                      <p>Merge of Lands</p>
                    </div>
                </slide>
            </carousel>
        </div>
    </div>
</div>