<div class="d-flex justify-content-center mt-3 mb-5">
    <div class="col-3">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="text-center mb-4">
              <h1 class="h3 mb-3 font-weight-normal">Register</h1>
            </div>

            <div class="form-group mb-3">
                <label class="control-label" style="margin-right:10px">I am a: </label>
                <mat-radio-group
                  aria-labelledby="radio-group-gender"
                  name="genders"
                  (change)="onRadioChanged($event)" 
                  [value]="defaultGenderRadioButton"
                  formControlName="gender">
                  <mat-radio-button class="mx-3" value="male">
                    Male
                  </mat-radio-button>
                  <mat-radio-button class="mx-2" value="female">
                    Female
                  </mat-radio-button>
                </mat-radio-group>
            </div>

            <app-text-input formControlName="firstName" [label]="'First Name'"></app-text-input>
            <app-text-input formControlName="lastName" [label]="'Last Name'"></app-text-input>
            <app-text-input formControlName="phoneNumber" [label]="'Phone Number'"></app-text-input>
            <app-text-input formControlName="address" [label]="'Address'"></app-text-input>
            <app-text-input formControlName="email" [label]="'Email Address'"></app-text-input>
            <app-text-input formControlName="password" [label]="'Password'" [type]="'password'"></app-text-input>

            <ul class="text-danger list-unstyled" *ngIf="errors">
                <li *ngFor="let error of errors">
                    {{error}}
                </li>
            </ul>
        
            <button [disabled]="registerForm.invalid" mat-raised-button color="primary" type="submit">Register</button>
        </form>
    </div>
</div>