<div class="container-fluid">

    <div class="row p-3">
        <div class="col-6">
            <div class="d-flex" *ngIf="realProperties">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Search</mat-label>
                    <input #search (keyup.enter)="onSearch()" matInput #message maxlength="256" placeholder="Ex. juan dela cruz">
                    <mat-hint align="start"><strong>You can search Owner's Name, Tax Declaration #, and Survey Lot #.</strong> </mat-hint>
                    <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
                </mat-form-field>
                <button matTooltip="Search" mat-icon-button (click)="onSearch()" class="btn btn-outline-primary mx-1">
                    <mat-icon aria-hidden="false" aria-label="Search">search</mat-icon>
                </button>
                <button matTooltip="Clear search box" mat-icon-button (click)="onReset()" class="btn btn-outline-success">
                    <mat-icon aria-hidden="false" aria-label="Reset">clear</mat-icon>
                </button>
            </div>
        </div>
        <div class="col-3 d-flex justify-content-center">
            <app-paging-header 
                [totalCount]="totalCount"
                [pageSize]="realPropertyParams.pageSize"
                [pageNumber]="realPropertyParams.pageNumber">
            </app-paging-header>
        </div>
        <div class="col-3">
            <ng-container>
                <mat-form-field appearance="fill">
                    <mat-label>Sort an option</mat-label>
                    <mat-select (selectionChange)="onSortSelected($event)" [(value)]="defaultSelect">
                      <mat-option *ngFor="let sort of sortOptions" [value]="sort.value">
                          {{sort.name}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
            </ng-container>
        </div>
    </div>

    <!-- Material Table  -->
    <div class="row">
        <div class="col">
              
            <table mat-table [dataSource]="realProperties" class="mat-elevation-z8">
            
                <!-- Owner's Name Column -->
                <ng-container matColumnDef="ownerName">
                <th mat-header-cell *matHeaderCellDef> Owner's Name </th>
                <td mat-cell *matCellDef="let element"> {{element.ownerName}} </td>
                </ng-container>
            
                <!-- Property Location Column -->
                <ng-container matColumnDef="propertyLocation">
                <th mat-header-cell *matHeaderCellDef> Property Location </th>
                <td mat-cell *matCellDef="let element"> {{element.propertyLocation}} </td>
                </ng-container>
            
                <!-- Tax Declaration Number Column -->
                <ng-container matColumnDef="taxDecNumber">
                <th mat-header-cell *matHeaderCellDef> Tax Declaration Number </th>
                <td mat-cell *matCellDef="let element"> {{element.taxDecNumber}} </td>
                </ng-container>
            
                <!-- Effective Year Column -->
                <ng-container matColumnDef="effectiveYear">
                <th mat-header-cell *matHeaderCellDef> Effective Year </th>
                <td mat-cell *matCellDef="let element"> {{element.effectiveYear}} </td>
                </ng-container>

                <!-- Survey Lot Number Column -->
                <ng-container matColumnDef="surveyLotNumber">
                <th mat-header-cell *matHeaderCellDef> Lot No. </th>
                <td mat-cell *matCellDef="let element"> {{element.surveyLotNumber}} </td>
                </ng-container>

                <!-- Land Area Column -->
                <ng-container matColumnDef="landArea">
                <th mat-header-cell *matHeaderCellDef> Land Area </th>
                <td mat-cell *matCellDef="let element"> {{element.landArea}} </td>
                </ng-container>

                <!-- Remarks Column -->
                <ng-container matColumnDef="remarks">
                <th mat-header-cell *matHeaderCellDef> Remarks </th>
                <td mat-cell *matCellDef="let element"> {{element.remarks}} </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>

            <div *ngIf="totalCount > 0">
                <mat-paginator 
                  [length]="totalCount"
                  [pageSize]="realPropertyParams.pageSize"
                  [pageIndex]="realPropertyParams.pageNumber"
                  [pageSizeOptions]="[5, 10, 25, 100]"
                  [showFirstLastButtons]="showFirstLastButtons"
                  (page)="onPageChanged($event)"
                  aria-label="Select page">
                </mat-paginator>
            </div>

        </div>
    </div>
</div>