.full-width {
    width: 100%;
}

table {
    width: 100%;
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.logo {
    max-height: 79px;
    position: absolute;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    font-size: 1em;
    color: white;
    text-align: center;
    left: 90px;
}

.mat-column-owner {
    width: 40%;
}

.mat-column-propertyLocation {
    width: 11%;
}

.mat-column-tdNo {
    width: 11%;
}

.mat-column-year {
    width: 8%;
}

.mat-column-surveyLotNo {
    width: 9%;
}

.mat-column-kindOfProperties {
    width: 9%;
}

.mat-column-memoranda {
    width: 12%;
}