.full-width {
    width: 100%;
}

table {
    width: 100%;
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.logo {
    max-height: 79px;
    position: absolute;
    min-height: 25px;
    min-width: 25px;
    border-radius: 50%;
    font-size: 1em;
    color: white;
    text-align: center;
    left: 230px;
}

.mat-column-ownerName {
    width: 40%;
}

.mat-column-propertyLocation {
    width: 11%;
}

.mat-column-taxDecNumber {
    width: 11%;
}

.mat-column-effectiveYear {
    width: 8%;
}

.mat-column-surveyLotNumber {
    width: 9%;
}

.mat-column-landArea {
    width: 9%;
}

.mat-column-remarks {
    width: 12%;
}