<div class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-4 mb-3
border-bottom shadow-sm fixed-top navbar-dark bg-primary">
    <span>
      <img src="/assets/images/logo.png" class="logo" style="max-height: 70px;" alt="Aloguinsan Logo" [routerLink]="['/']">
      <strong class="text-muted"> Assessor's Office</strong>
    </span>
    <nav class="my-2 my-md-0 mr-md-3 text-uppercase" style="font-size: larger;">
      <a class="p-2" [routerLink]="['/']" routerLinkActive="active" 
        [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a class="p-2" [routerLink]="['/real-property']" routerLinkActive="active">Real Property</a>
      <a class="p-2" [routerLink]="['/test-error']" routerLinkActive="active">Errors</a>
    </nav>
    <div class="d-flex align-items-center">
      
      <ng-container *ngIf="(currentUser$ | async) === null">
        <a routerLink="/account/login" class="btn btn-outline-secondary text-white">Login</a>
        <a routerLink="/account/register" class="btn btn-outline-secondary mx-1 text-white">Sign up</a>
      </ng-container>

      <ng-container *ngIf="(currentUser$ | async) as currentUser">
        <div class="dropdown ml-3 mr-5" dropdown>
          <a class="dropdown-toggle" style="cursor: pointer;" dropdownToggle>
            <strong>Welcome {{currentUser.firstName}}</strong>
          </a>
          <div class="dropdown-menu dropdown-menu-right" style="cursor: pointer;" *dropdownMenu>
            <a routerLink="/basket" class="dropdown-item d-flex align-items-center py-2">
              <i class="fa fa-user-edit mr-3"></i> Edit
            </a>
            <div class="dropdown-divider"></div>
            <a (click)="logout()" class="dropdown-item d-flex align-items-center py-2">
              <i class="fa fa-sign-out mr-3"></i> Logout
            </a>
          </div>
        </div>
      </ng-container>

    </div>
  </div>