<div *ngIf="loader.loading$ | async" class="loader-container">
  <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
</div>
<mat-toolbar color="primary" class="p-1">

  <mat-toolbar-row>
    <button (click)="sidenav.toggle()" matTooltip="Menu" mat-icon-button aria-label="Menu">
      <mat-icon>menu</mat-icon>
    </button>
  
    <span class="title-logo" [routerLink]="['/']">
      <img src="{{logo1st?.url || '../../../../assets/images/logo-default.png'}}" class="logo" alt="Aloguinsan Logo">
      Assessor's Application
    </span>
  
    <span class="spacer"></span>
  
    <ng-container *ngIf="(currentUser$ | async) === null">
      <button matTooltip="Login" routerLink="/account/login" mat-icon-button aria-label="Login">
        <mat-icon>login</mat-icon>
      </button>
      <button matTooltip="Register" routerLink="/account/register" mat-icon-button aria-label="Register">
        <mat-icon>how_to_reg</mat-icon>
      </button>
    </ng-container>
  
    <ng-container *ngIf="(currentUser$ | async) as currentUser">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Drop down arrow">
        <mat-icon matTooltip="Welcome {{currentUser.firstName | titlecase}}">account_circle</mat-icon>
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button routerLink="/account/edit" mat-menu-item>
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <button (click)="logout()" mat-menu-item>
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </ng-container>
  </mat-toolbar-row>

</mat-toolbar>

<!-- Side Nav, Side Nav Content, and router-outlet -->
<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="sidenav" mode="over">
    <mat-list (click)="sidenav.close()">
      <div mat-subheader>Menus</div>
      
      <mat-list-item routerLink="/">
        <mat-icon mat-list-icon>home</mat-icon>
        <div mat-line>Home</div>
      </mat-list-item>

      <ng-container *ngIf="loggedIn()">
        <mat-list-item *appHasRole="['Admin']" routerLink="/admin">
          <mat-icon mat-list-icon>admin_panel_settings</mat-icon>
          <div mat-line>Admin</div>
        </mat-list-item>

        <mat-list-item *appHasRole="['Admin', 'Moderator', 'Member']" routerLink="/real-property">
          <mat-icon mat-list-icon>landscape</mat-icon>
          <div mat-line>Real Property</div>
        </mat-list-item>
  
        <mat-list-item *appHasRole="['Admin', 'Moderator', 'Member']" routerLink="/real-property/assessment-roll">
          <mat-icon mat-list-icon>assessment</mat-icon>
          <div mat-line>Assessment Roll</div>
        </mat-list-item>

        <mat-list-item *appHasRole="['Admin', 'Moderator']" routerLink="/kind-of-lands">
          <mat-icon mat-list-icon>vrpano</mat-icon>
          <div mat-line>Kind of Lands</div>
        </mat-list-item>
      </ng-container>

      <mat-list-item routerLink="/about">
        <mat-icon mat-list-icon>info</mat-icon>
        <div mat-line>About</div>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <div style="height: 88vh;">
      <app-section-header></app-section-header>
      <mat-divider></mat-divider>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
