<div class="header">
    <h2 mat-dialog-title>
        <strong>{{action}}</strong> data
    </h2>
    <button mat-icon-button [mat-dialog-close]="false">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div mat-dialog-content>
    <ng-container *ngIf="action == 'Update'">
        <h2>Single Use of Land</h2>
        <app-text-input [(ngModel)]="local_data.propertyLocation" [label]="'Barangay'" required></app-text-input>
        <app-text-input [(ngModel)]="local_data.currentMarketValue" [label]="'Current Market Value'" [type]="'number'" required></app-text-input>
        <app-text-input [(ngModel)]="local_data.currentAssessedValue" [label]="'Current Assessed Value'" [type]="'number'" required></app-text-input>
        <app-text-input [(ngModel)]="local_data.previousMarketValue" [label]="'Previous Market Value'" [type]="'number'" required></app-text-input>
        <app-text-input [(ngModel)]="local_data.previousAssessedValue" [label]="'Previous Assessed Value'" [type]="'number'" required></app-text-input>
        <app-text-input [(ngModel)]="local_data.area" [label]="'Area'" [type]="'number'" required></app-text-input>
        <app-text-input [(ngModel)]="local_data.rpus" [label]="'Rpu\'s'" [type]="'number'" required></app-text-input>
    </ng-container>
</div>

<div mat-dialog-actions [align]="'end'">
    <button (click)="closeDialog()" mat-raised-button [mat-dialog-close]="false">
        Cancel
    </button>
    <button (click)="doAction()" mat-raised-button color="primary" [mat-dialog-close]="true">
        {{action}}
    </button>
</div>