<div class="d-flex justify-content-center mt-3">
    <div class="col-7">
        <h3>
            <ng-container *ngIf="municipality">
                The <u>{{municipality.name | titlecase}} Assessor’s Office</u> is a local Government office in charge of real property assessments 
                within its territorial jurisdiction as the basis for real property taxation. It includes the preparation, 
                installation and maintenance of a system of tax mapping, records management, and schedule of market values 
                of the different classes of real property within its territory. <u>{{municipality.name | titlecase}} Assessor's Office</u> was mandated in view of 
                Republic Act No. 7160 or otherwise known as the Local Government Code of 1991, to deliver quality and 
                reliable Real Property Tax Assessment Services towards becoming a highly competent and 
                globally competitive local government unit.
            </ng-container>
            <ng-container *ngIf="city">
                The <u>{{city.name | titlecase}} Assessor’s Office</u> is a local Government office in charge of real property assessments 
                within its territorial jurisdiction as the basis for real property taxation. It includes the preparation, 
                installation and maintenance of a system of tax mapping, records management, and schedule of market values 
                of the different classes of real property within its territory. <u>{{city.name | titlecase}} Assessor's Office</u> was mandated in view of 
                Republic Act No. 7160 or otherwise known as the Local Government Code of 1991, to deliver quality and 
                reliable Real Property Tax Assessment Services towards becoming a highly competent and 
                globally competitive local government unit.
            </ng-container>
            <ng-container *ngIf="district">
                The <u>{{district.name | titlecase}} Assessor’s Office</u> is a local Government office in charge of real property assessments 
                within its territorial jurisdiction as the basis for real property taxation. It includes the preparation, 
                installation and maintenance of a system of tax mapping, records management, and schedule of market values 
                of the different classes of real property within its territory. <u>{{district.name | titlecase}} Assessor's Office</u> was mandated in view of 
                Republic Act No. 7160 or otherwise known as the Local Government Code of 1991, to deliver quality and 
                reliable Real Property Tax Assessment Services towards becoming a highly competent and 
                globally competitive local government unit.
            </ng-container>
        </h3>
        <h3><strong>The services offered by the office include:</strong></h3>
        <mat-list>
            <mat-list-item *ngFor="let bullet of bullets">
              <mat-icon mat-list-icon>fiber_manual_record</mat-icon>
              <div mat-line>{{bullet.name}}</div>
            </mat-list-item>
        </mat-list>
    </div>
</div>