.full-width {
    width: 100%;
}

table {
    width: 100%;
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}

tr.mat-footer-row {
    font-weight: bold;
}

.mat-column-propertyLocation {
    width: 90px;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
}

.mat-column-rpus {
    width: 32px;
    border-left: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
}

.mat-header-cell {
    text-align: center;
}

.mat-cell {
    text-align: center;
}

.mat-footer-cell {
    text-align: center;
}
