.full-width {
    width: 100%;
}

table {
    width: 100%;
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}

tr.mat-footer-row {
    font-weight: bold;
}

.mat-column-ownerName {
    width: 300px;
}

.mat-column-ownerAddress {
    width: 150px;
}

